#intro 
    {
        background-image: url("./img/Us.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100vh;
    }



@media (min-width: 992px) 
    {
        #intro 
            {
                margin-top: -58.59px;
            }
    }

.navbar .nav-link 
    {
        color: #fff !important;
    }